.App {
  text-align: center;
}

.nav-container{
  margin: -3px -3px 0 -3px;
}
.content-container{
  display:flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 50px 0;
}

.content-container{
  display:flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 50px 15px;
}

.form-container{
  width: 80%
}

.form-container .submit-item{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.events-container-mobile{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 5%;
  text-align: left;
}

.events-container-desktop{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: auto;
  padding: 0 5%;
  text-align: left;
}

.events-card-container{
  width: 470px;
}

.card-wrapper{
  display:flex;
  flex-direction: row;
  text-align: left;
  justify-content: space-between;
  margin: -6px -3% 0 0;
}

.card-info-container{
  display:flex;
  flex-direction: column;
  text-align: left;
}

.card-title{
  display:flex;
  flex-direction: row;
  text-align: left;
  justify-content: space-between;
  font-size: 25px;
  padding: 0 0 2px 0;
  line-height: 30px;
}

.card-description{
  display:flex;
  flex-direction: column;

  text-align: left;
}
.card-icon-container{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 10%;
}

.card-icons{
  display:flex;
  flex-direction: row;
}

.card-icon-container .corner-icon{
  transform: rotate(45deg);
  overflow: hidden;
  width: 50px;
  height: 50px;
  margin-top: -30px;
  margin-right: -40%;
}

.corner-icon{
  transform: rotate(45deg);
}

.login-container{
  width: 40%;
}

.login-form-label {
  font-size: 20px;
  text-align:left;
  padding: 5px;
}

.form-container{
  display:flex;
  flex-direction: column;
  text-align: left;
  width: 80%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
